.RanksHistory {
    ul {
        li {
            padding: $base-spacing-unit-small $base-spacing-unit-small;
            border-bottom: 2px solid $white;
            list-style-type: none;
        }
    }

    .date {
        font-size: 0.9rem;
    }

    .isbn {
        font-size: 0.7rem;
    }

    .rank {
        font-size: 1.1rem;
    }

    .weeks {
        font-size: 0.7rem;
    }
}

