.RanksHistory {
    ul {
        li {
            padding: $base-spacing-unit-small $base-spacing-unit-small;
            border-bottom: 2px solid $white;
            list-style-type: none;
        }
    }
}

