.RanksHistory {
    .page-content {
        padding-top: $base-spacing-unit;
    }

    ul {
        li {
            padding: $base-spacing-unit-small $base-spacing-unit-small;
            border-bottom: 2px solid $shell;
            list-style-type: none;
        }
    }

    .date {
        font-size: 0.9rem;
    }

    .isbn {
        font-size: 0.6rem;
    }

    .rank {
        font-size: 0.8rem;
    }

    .weeks {
        font-size: 0.7rem;
    }
}

