/*------------------------------------*\
    #SHARED
\*------------------------------------*/

/**
 * Set basic typography that has far reach.
 */
html {
    font-size: 1.25rem;
    line-height: 1.4;
    font-family: Arial;
}

