
/** colors */
$grape: #94618E !default;
$eggplant: #49274A !default;
$sand: #F4DECB !default;
$shell: #F8EEE7 !default;

$grey1: #F5F5F5 !default;
$grey2: #EBEBEB !default;
$grey3: #DCDCDC !default;
$grey4: #B9B9B9 !default;
$grey5: #969696 !default;
$grey6: #737373 !default;
$grey7: #505050 !default;
$grey8: #323232 !default;
