
/** colors */
$grape: #94618E !default;
$eggplant: #49274A !default;
$sand: #F4DECB !default;
$shell: #F8EEE7 !default;

$white: #FFFFFF !default;
$grey1: #F5F5F5 !default;
$grey2: #EBEBEB !default;
$grey3: #DCDCDC !default;
$grey4: #B9B9B9 !default;
$grey5: #969696 !default;
$grey6: #737373 !default;
$grey7: #505050 !default;
$grey8: #323232 !default;

$base-num: 16;

/* base spacing */
$base-spacing-unit:       $base-num * 1px;
$base-spacing-unit-tiny:  round($base-spacing-unit / 4);
$base-spacing-unit-small: round($base-spacing-unit / 2);
$base-spacing-unit-large: round($base-spacing-unit * 2);
$base-spacing-unit-huge:  round($base-spacing-unit * 4);
