/*------------------------------------*\
    #COLORS
\*------------------------------------*/

.u-clr-grape {
  color: $grape !important;
}

.u-clr-eggplant {
  color: $eggplant !important;
}

.u-clr-grey1  {
  color: $grey1 !important;
}

.u-clr-grey2  {
  color: $grey2 !important;
}

.u-clr-grey3  {
  color: $grey3 !important;
}

.u-clr-grey4  {
  color: $grey4 !important;
}

.u-clr-grey5  {
  color: $grey5 !important;
}

.u-clr-grey6  {
  color: $grey6 !important;
}

.u-clr-grey7  {
  color: $grey7 !important;
}

.u-clr-grey8  {
  color: $grey8 !important;
}

.u-bg-sand {
  background-color: $sand !important;
}

.u-bg-shell {
  background-color: $shell !important;
}
